
<div id="box">
  <div class="position"><a name="pagetop"/>您现在的位置：<span class="STYLE5"><a href="http://www.itcast.cn">首页</a> &gt;&gt; 常见问题 &gt;&gt; 正文</span></div>
  <div id="left" class="fl" style="margin-top:8px;">

    <div class="left_content1">
      <div id="printarea">
          <foreach name="data" item="it">
        <h1 class="infotitle">{$it.p_title}</h1>
        <div class="editer">更新时间:<php> echo date('Y-m-d H:i',$it['start_time'])</php> 来源:</div>
        <div class="infor">
         {$it.p_content}
         <?php if($it.p_image!=""){ ?>
            <img alt="" src="__ROOT__/Application/Common/Public/{$it.p_image}" style="width: 600px; height: 417px;" /><br />
            <?php
                }
            ?>
            </foreach>
<br />

<script type="text/javascript" src="http://bbs.itcast.cn/api.php?mod=js&bid=94"></script>
        </div>
      </div>
      <div class="pre">
	               上一篇：<a target="_blank" href="/news/20130316/13545073144.shtml">我学完网页设计能找到多少钱的工作？</a>
       	  </div>
      <div class="next">
	              下一篇：<a target="_blank" href="/news/20130409/11171065480.shtml">PHP只能开发网站，是不是很单一呢？就不能开发出别的么？</a>
      	  </div>

      <div class="clear"></div>
      <div class="share">
	  <!-- Baidu share BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <span class="bds_more">分享到：</span>
        <a class="bds_sqq">QQ好友</a>
		<a class="bds_qzone">QQ空间</a>
		<a class="bds_tqq">腾讯微博</a>
		<a class="bds_tsina">新浪微博</a>
		<a class="bds_tieba">百度贴吧</a>
		<a class="shareCount"></a>
    </div>
<!-- Baidu share END 需在页面底部添加baidushare.js -->	  
	  </div>
	  <div class="clear"></div>
          
          <div id="dis">
	  <!-- 评论列表 -->
            <foreach name="info" item="it">
          <h3 class="reviewtitle"><span class="fl">{$it.c_region} </span><span class="fr"><php>echo date('Y-m-d H:i',$it['start_time'])</php> 发表</span></h3>
        <div class="reviewneirong">{$it.c_comment}   </div>
          </foreach>
          </div>
            <!-- 评论列表 -->
        <div class="febgye"><?php echo $page?></div>
           <!--评论结束-->
           
      
      <div class="print"><a href="#" id="printbutton">【打印】</a> <a href="#pagetop">【返回顶部】</a></div>
      	  <!-- 评论区 -->
	    	<script type="text/javascript">
	           $(document).ready(function(){
	              	loadcomment('20130409-11151678932', 1);
               });   
	       </script>
	  <div id="commentcontent"></div>
                    <?php if($data[0]["t_id"]==2){?>
	  <form name="comment" style="padding:0;margin:0px;">
        <input type="hidden" name="referenceSource" value="">
        
        <input type="hidden" name="type" value="NEWS">
        <textarea cols="85" rows="6" style="width:610px;" id="content" name="content"></textarea>
        <div class="clear"></div>
        <div class="fabiao">
	      <span class="fl">请输入验证码：<input name="validatecode" id="code" type="text" style="width:80px;" />  <img width="100" id="captcha-container" class="left15" alt="验证码" src="__URL__/verify_c" title="点击刷新"> </span><span class="fr"><input type='button' value="提 交" id="savebutton" onclick="add()"/></span>
	    </div>
	  </form>
                    <?php
                    }
                    ?>
	  <div id="dialog" title="评论保存结果"></div><!-- 对话框内容 -->
      <!-- 评论区 -->
	        <div class="clear"></div>
      <div class="ad">
      <!-- 广告区 -->
      <a href="http://java.itcast.cn/news/e393b086/ebce/4f94/9d48/94ed86bcf5ef.shtml" target="_blank"><img border="0" src="http://www.itcast.cn/files/file/201206/20120620111629490.jpg" width="620" /></a> 
      <!-- 广告区 -->
      </div>
    </div>
      <input type="hidden" id="id" value="<?php echo $data[0]['id']?>">
      <input type="hidden" id="b" value="">
      <input type="hidden" id="a_id" value="<?php echo $data[0]['p_id']?>">
      <script>
                  
              ip='123.117.233.0';
              var p="";
    $.getScript('http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js&ip='+ip, function(_result){ 
        if (remote_ip_info.ret == '1'){  
             p=remote_ip_info.province+'省'+remote_ip_info.city+'市  网通网友 ip：'+ip+ ' 游客';  
            $("#b").val(p);
        }     
           })
           
          function add(){
              
              content=$("#content").val();
              code=$("#code").val();
              b=$("#b").val();
               a_id=$("#a_id").val();
              $.ajax({
                  url:"__URL__/comment",
                  data:{"content":content,"code":code,"region":b,"a_id":a_id},
                  dataType:"json",
                  type:"get",
                  success:function(res){
                      if(res==0){
                          alert("评论失败");
                      }else if(res==3){
                          alert("验证码错误")
                      }else{
                          str="";
                          for(a in res){
                              str+="<h3 class=\"reviewtitle\"><span class=\"fl\">"+res[a]["c_region"]+"<\/span><span class=\"fr\"> "+res[a]["start_time"]+" 发表<\/span><\/h3><div class=\"reviewneirong\">"+res[a]["c_comment"]+"<\/div>";
                          }
                          $("#dis").html(str);
                           $("#content").val("");
                          $("#code").val("");

                      }
                  }
              })
          }
      </script>
  </div>
  <div id="right" class="fl">
    <h4 class="righttitle1"><span class="fl">PHP视频下载</span><span class="fr"><a href="http://php.itcast.cn/php/video.shtml">+MORE</a></span></h4>
    <ul class="rightkuang">
       <ul>
           <foreach name="video" item="it">
<li><a href="{:U('Video/details',array('v_id'=>$it['v_id']))}">{$it.v_name}</a></li>

</foreach>
</ul>

    </ul>
  </div>
</div>
<div class="clear"></div>
<script>
    // 验证码生成 
var captcha_img = $('#captcha-container')
var verifyimg = captcha_img.attr("src");  
captcha_img.attr('title', '点击刷新');  
captcha_img.click(function(){  
    if( verifyimg.indexOf('?')>0){  
        $(this).attr("src", verifyimg+'&random='+Math.random());  
    }else{  
        $(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());  
    }  
}); 
</script>