

	<div id="box">
		<div id="left" class="fl">
			<div class="left_content">
				<h2 class="title1"><span class="STYLE3">常见</span><span class="STYLE2">问题</span></h2>
				<h3 class="title2">热点问题</h3>
				<ul class="links">
﻿<ul>
 <foreach name="info" item="it">
<li><a href="__URL__/answer?id={$it.p_id}" target="_blank">{$it.p_title}</a><php> echo date('Y-m-d',$it['start_time'])</php></li>
</foreach>
</ul>
 
				</ul>
				<h3 class="title2">PHP相关问题</h3>
				<ul class="links">
<ul>
   <foreach name="data" item="it">
<li><a href="__URL__/answer?id={$it.p_id}" target="_blank">{$it.p_title}</a></li><?php?>
</foreach>
</ul>

			    </ul>
			</div>
		</div>		
		<div id="right" class="fl">
			<h4 class="righttitle1"><span class="fl">PHP视频下载</span><span class="fr"><a href="/php/video.shtml">+MORE</a></span></h4>
			<ul class="rightkuang">
			<ul>
           <foreach name="video" item="it">
<li><a href="{:U('Video/details',array('v_id'=>$it['v_id']))}">{$it.v_name}</a></li>

</foreach>
</ul>

			</ul>

	  </div>
	</div>
	<div class="clear"></div>
 <!-- 页面底部 -->
