<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>


<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">数据表</a></li>
    <li><a href="#">基本内容</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
    	<ul class="toolbar">
            <li><a href="{:U('admin/add_course')}"><span><img src="__APP__/Application/Common/admin/images/t01.png" /></span>添加</a></li>
        <li class="click"><span><img src="__APP__/Application/Common/admin/images/t02.png" /></span>修改</li>
        <li><span><img src="__APP__/Application/Common/admin/images/t03.png" /></span>删除</li>
        <li><span><img src="__APP__/Application/Common/admin/images/t04.png" /></span>统计</li>
        </ul>
        
        
        <ul class="toolbar1">
        <li><span><img src="__APP__/Application/Common/admin/images/t05.png" /></span>设置</li>
        </ul>
    
    </div>
 
                      
   
    <table class="tablelist">
        
    	<thead>
    	<tr>
            <th>编号</th>
        <th>开班名称</th>
        <th>发布时间</th>
        <th>开班类型</th>
        <th>是否开班</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <foreach name='list' item='it'>
        <tr id="tr{$it.id}">
        <td>{$it.id}</td>
        <td>{$it.class_title}</td>
        <td>{$it.start_time}</td>
        <td><?php  if($it['class_type']==1){
                            echo "php基础班";
            }else if($it['class_type']==2){
                            echo "php就业班";
            }else{
                            echo "php远程班";
            }?></td>
        <td><?php if($it['class_state']==1){
                    echo "预约报名";
                    }else{
                    echo "<font color='blue'>爆满已开班</font>";
                    }?></td>
        <td><a href="__URL__/sel?id={$it.id}" class="tablelink">查看</a>     <a href="#" class="tablelink" onclick="del('{$it.id}')"> 删除</a></td>
        </tr> 
                </foreach>
        </tbody>
    </table>
    
   
    <div class="pagin">
    	<div class="message">共<i class="blue">{$count}</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
       
    </div>
        <script>
            function del(id){
                //alert(id);
                //return false;
                if(confirm('确认删除么?')){
                    $.ajax({
                        type: "POST",
                        url: "__URL__/del",
                        data: "id="+id,
                        success: function(msg){ 
                          if(msg==1){
                              $("#tr"+id).remove()
                          }else{
                              alert('删除失败');
                          }
                        }
                     }); 
                }
            }
        </script>
    
    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="__APP__/Application/Common/admin/images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    
    
    
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
