
<style>

.aa { width: 800; height: 390px }
</style>
<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/146/73fi1rab/amcharts.js"></script>

<script type="text/javascript" src="__APP__/Application/Common/admin/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__APP__/Application/Common/admin/js/highcharts.js"></script>
<script type="text/javascript" src="__APP__/Application/Common/admin/js/exporting.js"></script>


<canvas style="display:none" id="myChart" width="400" height="400"></canvas>

<div class='aa'  width=800; height=400; id="chartdiv"></div>

<script src="__APP__/Application/Common/Chart.js-master/Chart.js"></script>
<script src="__APP__/Application/Common/jquery.js"></script>
<input type="hidden" value="{$chardata}" id="pv">

<script>
function zhu(a){
    if(a==1){
        $("#myChart").show();
        $("#chartdiv").hide();
    }else{
        $("#myChart").hide();
        $("#chartdiv").show();
    }
}
         var data = {
            
                    labels : [{$json}],
                    datasets : [
                            {
                                    fillColor : "rgba(200,20,220,10.5)",
                                    strokeColor : "rgba(21,10,210,1)",
                                    data : [{$pv}]
                            }
                    ]
            } 

var ctx = document.getElementById("myChart").getContext("2d"); 
var myNewChart = new Chart(ctx).Bar(data);//new Chart(ctx).PolarArea(data);

p=$("#pv").val();
s=p.split(",")

var chart;
var legend;
var chartData = [{$chardata}];
AmCharts.ready(function() {
    // 饼图
    chart = new AmCharts.AmPieChart();
    chart.dataProvider = chartData;
    chart.titleField = "country";
    chart.valueField = "value";
    chart.outlineColor = "";
    chart.outlineAlpha = 0.8;
    chart.outlineThickness = 2;
    // 3D
    chart.depth3D = 20;
    chart.angle = 30;
    // 图形写入
    chart.write("chartdiv");
});


</script>
<br/>

    

<input  type="radio" name="red" value="1" id="z" onclick="zhu(1)"/>柱图
<input  type="radio" name="red" value="2" id="y" checked="checked" onclick="zhu(2)"/>饼图


