<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__APP__/Application/Common/admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__APP__/Application/Common/admin/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">数据表</a></li>
    <li><a href="#">基本内容</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
    	<ul class="toolbar">
            <li class="click"><a href="{:U('teacher/add')}"><span><img src="__APP__/Application/Common/admin/images/t01.png" /></span>添加</a></li>
        <li class="click"><span><img src="__APP__/Application/Common/admin/images/t02.png" /></span>修改</li>
        <li><span><img src="__APP__/Application/Common/admin/images/t03.png" /></span>删除</li>
        <li><span><img src="__APP__/Application/Common/admin/images/t04.png" /></span>统计</li>
        </ul>
        
        
        <ul class="toolbar1">
        <li><span><img src="__APP__/Application/Common/admin/images/t05.png" /></span>设置</li>
        </ul>
    
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <th><input name="" type="checkbox" value="" checked="checked"/></th>
        <th>编号<i class="sort"><img src="__APP__/Application/Common/admin/images/px.gif" /></i></th>
        <th>姓名</th>
        <th>级别</th>
        <th>描述</th>
        <th>time</th>
        <th>图片</th>    
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <foreach name='list' item='vo'>
        <tr id='tr{$vo.t_id}'>
        <td><input name="" type="checkbox" value="" /></td>
        <td>{$vo.t_id}</td>
        <td>{$vo.t_name}</td>
        <td><php>
                if($vo['cate_id']==1){echo '国内著名的软件培训高级讲师';}
                if($vo['cate_id']==2){echo '高级讲师、企业培训讲师';}
                if($vo['cate_id']==3){echo 'php项目经理';}
                if($vo['cate_id']==4){echo '架构师';}
            </php></td>
        <td><php>echo mb_substr($vo['t_desc'],0,9,'utf-8');</php></td>
        <td><php> echo date('Y-m-d H:i:s',$vo['t_time'])</php></td>
        <td><img width='100'height='50' src="__ROOT__/Application/Common/Public/{$vo.t_photo}"</td>        
        <td><a href="{:U('teacher/see',array('t_id'=>$vo['t_id']))}" class="tablelink">查看</a>     <a href="#" onclick="del('{$vo.t_id}')" class="tablelink"> 删除</a></td>
        </tr> 
        </foreach> 
        </tbody>
    </table>
        <script>
            function del(id){

                if(confirm('确认删除么?')){
                    $.ajax({
                        type: "POST",
                        url: "{:U('teacher/del')}",
                        data: "id="+id,
                        success: function(msg){ 
                          if(msg){
                              $("#tr"+id).remove()
                          }else{
                              alert('删除失败');
                          }
                        }
                     }); 
                }
            }
        </script>
   
    <div class="pagin">
    	<div class="message">{$page}</div>

            
        
    </div>
    
    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="__APP__/Application/Common/admin/images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    
    
    
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
